@import url('https://fonts.googleapis.com/css?family=Chivo');

html{
    background-color: #ffffff;
}

head {
    color: #8AAAE5;
}
.portrait{
    margin-top: 10rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    clip-path: circle(50%);
    margin-left:auto;
    margin-right: auto;
    
}
.portrait img{
    width:100%
}
body {
    background-color: #ffffff;
    color: #171616;
}
.home {
    max-width: 850px;
    text-align: center;
}
.socials {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height:0.5rem;
    font-size: 1.5em;
}
h1, h4 {
    letter-spacing: 0.03rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    /* text-shadow: 1px 1px 1.5px black; */

}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
    letter-spacing: 0.03rem;
    margin-top:0rem;
    margin-bottom: 1rem;
}
.row {
    margin-bottom: 3rem;
}
.btn {
    background-color: #0284c7;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.1s;
    margin-left:auto;
    margin-right: auto;
    border-radius: 20px;
  }

  div#banner { 
    position: absolute; 
    top: 0; 
    left: 0; 
    background-color: #DDEEEE; 
    width: 100%; 
  }
  div#banner-content { 
    width: 800px; 
    margin: auto; 
    padding: 10px; 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    /*(border: 1px solid #000;*/
  }
  /* Timeline */
#timeline {
    width: 80%;
    max-width: 900px;
    margin: 50px auto;
    position: relative;
    border-left: 4px solid #000000;
    padding-left: 30px;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
    padding-left: 30px;
}

.timeline-dot {
    position: absolute;
    left: -12px;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #000000;
    border-radius: 50%;
}

.timeline-date {
    font-size: 0.9em;
    color: #777;
    margin-bottom: 10px;
}

.timeline-content {
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.timeline-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #000000
}
.company-logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    display: block;
}
  /*/div#main-content { 
    padding-top: 70px;
 }/*