@import url('https://fonts.googleapis.com/css?family=Chivo');

html{
    background-color: #ffffff;
}

head {
    color: #8AAAE5;
}
.portrait{
    margin-top: 10rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    clip-path: circle(50%);
    margin-left:auto;
    margin-right: auto;
    
}
.portrait img{
    width:100%
}
body {
    background-color: #ffffff;
    color: #171616;
}
.home {
    max-width: 850px;
    text-align: center;
}
.socials {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height:0.5rem;
    font-size: 1.5em;
}
h1, h4 {
    letter-spacing: 0.03rem;
    margin-top: 0rem;
    margin-bottom: 1rem;
    text-shadow: 1px 1px 1.5px black;

}

h3 {
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #777777;
    letter-spacing: 0.03rem;
    margin-top:0rem;
    margin-bottom: 1rem;
}
.row {
    margin-bottom: 3rem;
}